*{
    margin: 0px;
    padding: 0px;
   }
   #wrapper{
    width: 970px;
    background-color: rgb(27, 51, 93);
    margin: 5px;
    padding: 5px;
    
   }
   #header{
    height: 38px;
    background-color: rgb(207, 48, 54);
    margin: 10px;
    padding: 15px;
    border-radius: 15px;
    color: rgb(194, 214, 235);
   }
   #navigation{
    height: 180px;
    width: 150px;
    padding: 10px;
    background-color: rgb(42, 125, 140);
    vertical-align: top;
    display: inline-block;
    margin: 10px;
    border-radius: 15px;
    color: rgb(103, 217, 220);
    text-align: left;
    font-size: 13px;
    
   }
  .navlinks{
    
      list-style-position: initial;
      color: rgb(103, 217, 220);
  }
  .sixlinks{
      margin-left: 15px; 
  }
  .indentlink{
      color: rgb(103, 217, 220);
  }
   #main_content{
    height: 420px;
    width: 740px;
    background-color: black;
    display: inline-block;
    margin: 5px;
    padding: 10px;
    border-radius: 15px;
    color: rgb(160, 190, 196);
    }
    .abtJava{
    margin: 5px;
    padding: 5px;
    color: rgb(160, 190, 196);
    text-align: left;
    font-size: 14px;
    }
    .listofjava{
        list-style-position: initial;
        font-size: 14px;
    }
    .purpletext{
        text-indent: 15px;
        color: rgb(77, 87, 239);
    }
   #bottom_tag{
    height: 20px;
    width: 920px;
    background-color: rgb(93, 102, 115);
    display: inline-block;
    margin: 5px;
    padding: 20px;
    border-radius: 15px;
    font-size: 13px;
    color: rgb(178, 192, 207);
   }
   a{
    color: rgb(85, 201, 228);
   }
   ul li{
    margin-left: 25px;
    list-style-position: initial;
   }